.content {
  scroll-behavior: smooth;
}
.main {
  width: 95vw;
}
.faceContainer {
  justify-content: center;
  display: flex;
}
.titleContent {
  background-image: url("/img/smiley.gif");
  border: orangered, 10px, solid;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}
.mainHeader {
  background-color: white;
  background-image: url("/img/death.gif")
}
.nav {
  width: fit-content;
  padding: 10px;
  display: flex;
  gap: 16px;
  color: black;
  background-color: orangered;
}
.navLink:hover {
  color: yellow;
}
.archiveNavigation {
  display: flex;
  gap: 5px;
}
.sectionTitle {
  background-color: orangered;
  color: black;
  padding: 5px;
  width: fit-content;
  margin: 5px 5px 5px 0;
  font-size: 60px;
}
.sectionParagraph {
  background-color: orangered;
  color: black;
  padding: 5px;
  width: fit-content;
}
.hoverImg {
  max-width: 100%;
  height: auto;
}
.iframe {
  width: 100%;
  height: 500px;
}
.row{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.rowItem{
  flex: 1;
}
@media (max-width: 750px) {
  .row {
    flex-direction: column;
  }
}

@media (max-width: 380px) {
  .content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }
  .videoFrame {
    display: flex;
    flex-direction: column;
  }
 
}