.content {
  scroll-behavior: smooth;
}
.main {
  width: 100%;
}
.faceContainer {
  justify-content: center;
  display: flex;
}
.titleContent {
  background-image: url("/img/smiley.gif");
  border: orangered, 10px, solid;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
}
.mainHeader {
  background-color: white;
  background-image: url("/img/death.gif")
}
.nav {
  width: fit-content;
  padding: 10px;
  display: flex;
  gap: 16px;
  color: black;
  background-color: orangered;
}
.navLink:hover {
  color: yellow;
}
.archiveNavigation {
  display: flex;
  gap: 5px;
}
.sectionTitle {
  background-color: orangered;
  color: black;
  padding: 5px;
  width: fit-content;
  margin: 5px 5px 5px 0;
  font-size: 60px;
}
.sectionParagraph {
  background-color: orangered;
  color: black;
  padding: 5px;
  width: fit-content;
}
.row{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width: 1520px) {
 
  .aboutParagraph {
    width: 70%;
  }
}

@media (max-width: 750px) {
  
}
